body {
    background-color: white; /* Color de fondo blanco */
    background-image: radial-gradient(circle, #BAADDB 1.06px, transparent 1px); /* Puntitos lila */
    background-size: 20px 20px; /* Tama침o de los puntitos y el espaciado entre ellos */
    animation: moveDots 100s linear infinite; /* Aplica la animaci칩n */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

@keyframes moveDots {
    0% {
      background-position: 0 0; /* Posici칩n inicial */
    }
    100% {
      background-position: 100% 100%; /* Posici칩n final para el movimiento */
    }
  }

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 0;
    text-align: center;
}

.content {
    padding: 20px;
}

.menu-header {
    background: #E0D9FE;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.heart {
    font-size: 20px;
}

#heart1 {
    color: #8C77F2;
    margin-left: 10px;
}

#heart2 {
    color: #CDC8F6;
}

#heart3 {
    color: #BCAFF9;
}

#heart4 {
    color: #A694F8;
}

.content h2 {
    color: #A694F8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cute-img {
    width: 150px;
    margin: 10px 0;
}

.content p {
    color: #BCAFF9;
    margin-top: 4px;
    margin-bottom: 15px;
}

input[type="password"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #BCAFF9;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="password"]::placeholder {
    color: #CDC8F6;
}

button {
    background: #A694F8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #8C77F2;
}

